*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin-top: 100px;
}
.transform {
    background-color: lightgray;
    width: 300px;
    height: 250px;
    position: relative;
    box-sizing: border-box;
}
.transform:hover{
    background-color: gray;
}
.content {
    position: absolute;
    color: white;
    font-size: 50px;
    top: px;
    left: 65px;
}